<div class="main">
  <div class="multiple-items">
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
    <div><img src="/assets/sample1.png" class="a"></div>
  </div>
</div>
